@page
@model RazorPizzeria.Pages.InspirationModel
@{
}
<div class="container">
<div class="align-items-center">
<h1>Why We Exist</h1>
<h4>After spending my life savings on the attempt to find what pizza is for me...</h4>
<h4>I found the answer through the art of song</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/67hw7hj_xkc" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>